<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- BusinessHorizon2 Copyright (C) 2012-2013 Christian Gahlert, Florian 
	Stier, Kai Westerholz, Timo Belz, Daniel Dengler, Katharina Huber, Christian 
	Scherer, Julius Hacker This program is free software: you can redistribute 
	it and/or modify it under the terms of the GNU Affero General Public License 
	as published by the Free Software Foundation, either version 3 of the License, 
	or (at your option) any later version. This program is distributed in the 
	hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied 
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
	GNU Affero General Public License for more details. You should have received 
	a copy of the GNU Affero General Public License along with this program. 
	If not, see <http://www.gnu.org/licenses/>. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />



	<!-- Application -->
	<bean name="vaadinApp" class="dhbw.ka.mwi.businesshorizon2.BHApplication"
		scope="session" />
	<bean name="eventBus" class="com.mvplite.event.EventBus" scope="session" />
	<bean name="navigationController" class="com.mvplite.view.LiteNavigationController"
		scope="session">
		<constructor-arg ref="eventBus" />
	</bean>

	<!-- Services -->
	<bean name="authenticationService"
		class="dhbw.ka.mwi.businesshorizon2.services.authentication.AuthenticationService"
		scope="singleton" />
	<bean name="persistenceService"
		class="dhbw.ka.mwi.businesshorizon2.services.persistence.PersistenceService"
		scope="singleton" />

	<!-- Methods -->
	<bean name="timeseries"
		class="dhbw.ka.mwi.businesshorizon2.methods.timeseries.TimeseriesCalculator"
		scope="session" />
	<bean name="wiener" class="dhbw.ka.mwi.businesshorizon2.methods.wiener.Wiener"
		scope="session" />
	<bean name="random"
		class="dhbw.ka.mwi.businesshorizon2.methods.random.RandomWalk" scope="session" />


	<!-- Models -->
	<bean name="project" class="dhbw.ka.mwi.businesshorizon2.models.Project"
		scope="session" />
	<bean name="user" class="dhbw.ka.mwi.businesshorizon2.models.User"
		scope="session" />

	<!-- Services -->
	<bean name="projectProxy"
		class="dhbw.ka.mwi.businesshorizon2.services.proxies.ProjectProxy"
		scope="session" />

	<bean name="userProxy"
		class="dhbw.ka.mwi.businesshorizon2.services.proxies.UserProxy" scope="session" />


	<!-- LogIn -->
	<bean name="logInPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.login.LogInScreenPresenter"
		scope="session" />
	<bean name="logInScreenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.login.LogInScreenViewImplv2"
		scope="session" />

	<!-- Initial-Screen -->
	<bean name="initialScreenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.InitialScreenPresenter"
		scope="session" />
	<bean name="initialScreenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.InitialScreenViewImpl"
		scope="session" />

	<!-- Project-List -->
	<bean name="projectListPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.projectlist.ProjectListPresenter"
		scope="session" />
	<bean name="projectListView"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.projectlist.ProjectListViewImpl"
		scope="session" />
		
	<!-- Project-Details -->
	<bean name="projectDetailsPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.projectdetails.ProjectDetailsPresenter"
		scope="session"	/>
	<bean name="projectDetailsView"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.projectdetails.ProjectDetailsViewImpl"
		scope="session"	/>
		
	<!-- Project-Creation -->
	<bean name="projectCreationPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.projectcreation.ProjectCreationPresenter"
		scope="session"	/>
	<bean name="projectCreationView"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.projectcreation.ProjectCreationViewImpl"
		scope="session"	/>
	<bean name="startCalculationButtonPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.projectcreation.StartCalculationButtonPresenter"
		scope="session"	/>
	<bean name="startCalculationButtonView"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.projectcreation.StartCalculationButtonViewImpl"
		scope="session"	/>

	<!-- Infos -->
	<bean name="infosViewPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.infos.InfosPresenter"
		scope="session" />
	<bean name="infosView"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.infos.InfosViewImpl"
		scope="session" />

	<!-- Process -->
	<bean name="processPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.ProcessPresenter"
		scope="session" />
	<bean name="processView"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.ProcessViewImpl" scope="session" />

	<!-- Process-Navigation -->
	<bean name="navigationPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.navigation.NavigationPresenter"
		scope="session" />
	<bean name="navigationView"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.navigation.NavigationViewImpl"
		scope="session" />


	<!-- ContentContainer -->
	<bean name="contentContainerPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.contentcontainer.ContentContainerPresenter"
		scope="session" />
	<bean name="contentContainerView"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.contentcontainer.ContentContainerViewImpl"
		scope="session" />



	<!-- Methodenmaske -->
	<bean name="methodPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.method.MethodPresenter"
		scope="session" />
	<bean name="methodView"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.method.MethodViewImpl"
		scope="session" />



	<!-- Periodenmaske -->
	<bean name="periodPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.period.PeriodPresenter"
		scope="session" />
	<bean name="periodView"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.period.PeriodViewImpl"
		scope="session" />

	<!-- Periode-Timeline -->
	<bean name="timelinePresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.period.timeline.TimelinePresenter"
		scope="session" />
	<bean name="timelineView"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.period.timeline.TimelineViewImpl"
		scope="session" />

	<!-- Periode-DirektEingabe -->
	<bean name="direktPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.period.input.direkteeingabe.DirektPresenter"
		scope="session" />
	<bean name="direktView"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.period.input.direkteeingabe.DirektViewImpl"
		scope="session" /> 


<!-- 	 Periode-Gesamtkostenverfahren -->
	<bean name="gesamtkostenVerfahrenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.period.input.gesamtkostenverfahren.GesamtkostenVerfahrenPresenter"
		scope="session" />
	<bean name="gesamtkostenVerfahrenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.period.input.gesamtkostenverfahren.GesamtkostenVerfahrenViewImpl"
		scope="session" />



	<!-- Periode-Umsatzkostenverfahren -->
	<bean name="umsatzkostenVerfahrenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.period.input.umsatzkostenverfahren.UmsatzkostenVerfahrenPresenter"
		scope="session" />
	<bean name="umsatzkostenVerfahrenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.period.input.umsatzkostenverfahren.UmsatzkostenVerfahrenViewImpl"
		scope="session" /> 


	<!-- Parameter-Input -->
	<bean name="parameterInputPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.parameterScreen.input.ParameterInputPresenter"
		scope="session" />
	<bean name="parameterInputView"
		class="dhbw.ka.mwi.businesshorizon2.ui.parameterScreen.input.ParameterInputViewImpl"
		scope="session" />



	<!-- Szenarien-Maske -->
	<bean name="scenarioPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.scenario.ScenarioPresenter"
		scope="session" />
	<bean name="scenarioView"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.scenario.ScenarioViewImpl"
		scope="session" />



	<!-- Ausgabe-Maske -->
	<bean name="outputPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.output.OutputPresenter"
		scope="session" />
	<bean name="outputView"
		class="dhbw.ka.mwi.businesshorizon2.ui.process.output.OutputViewImpl"
		scope="session" />
		
	<!-- Parameter Screen -->
	<bean name="parameterScreenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.parameterScreen.ParameterScreenPresenter"
		scope="session" />
	<bean name="parameterScreenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.parameterScreen.ParameterScreenViewImpl"
		scope="session" />
	
	<!-- Buttons Middle -->
	<bean name="ButtonsMiddlePresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.buttonsMiddle.ButtonsMiddlePresenter"
		scope="session" />
	<bean name="ButtonsMiddleView"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.buttonsMiddle.ButtonsMiddleViewImpl"
		scope="session" />
		
	<!-- Description-->
	<bean name="DescriptionPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.description.DescriptionPresenter"
		scope="session" />
	<bean name="DescriptionView"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.description.DescriptionViewImpl"
		scope="session" />	
		
	<!-- Method Screen-->
	<bean name="methodScreenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.methodscreen.MethodScreenPresenter"
		scope="session" />
	<bean name="methodScreenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.methodscreen.MethodScreenViewImpl"
		scope="session" />

	<!-- Period Screen -->
	<bean name="periodScreenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.periodscreen.PeriodScreenPresenter"
		scope="session" />
	<bean name="periodScreenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.periodscreen.PeriodScreenViewImpl"
		scope="session" />	
	<bean name="direktScreenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.periodscreen.direkteeingabe.DirektViewImpl"
		scope="session" />
	<bean name="direktScreenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.periodscreen.direkteeingabe.DirektPresenter"
		scope="session" />
	<bean name="gesamtkostenVerfahrenScreenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.periodscreen.gesamtkostenverfahren.GesamtkostenVerfahrenViewImpl"
		scope="session" />
	<bean name="gesamtkostenVerfahrenScreenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.periodscreen.gesamtkostenverfahren.GesamtkostenVerfahrenPresenter"
		scope="session" />
	<bean name="umsatzkostenVerfahrenScreenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.periodscreen.umsatzkostenverfahren.UmsatzkostenVerfahrenViewImpl"
		scope="session" />
	<bean name="umsatzkostenVerfahrenScreenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.periodscreen.umsatzkostenverfahren.UmsatzkostenVerfahrenPresenter"
		scope="session" />

	<!-- Scenario Screen -->
	<bean name="scenarioScreenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.scenarioscreen.ScenarioScreenPresenter"
		scope="session" />
	<bean name="scenarioScreenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.scenarioscreen.ScenarioScreenViewImpl"
		scope="session" />

	<!-- Result Screen -->
	<bean name="resultScreenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.resultscreen.ResultScreenPresenter"
		scope="session" />
	<bean name="resultScreenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.resultscreen.ResultScreenViewImpl"
		scope="session" />	
	<bean name="oneScenarioPresenter"		
		class="dhbw.ka.mwi.businesshorizon2.ui.resultscreen.onescenario.OneScenarioResultPresenter"
		scope="session" />
	<bean name="oneScenarioView"		
		class="dhbw.ka.mwi.businesshorizon2.ui.resultscreen.onescenario.OneScenarioResultViewImpl"
		scope="session" />
	<bean name="moreScenarioPresenter"		
		class="dhbw.ka.mwi.businesshorizon2.ui.resultscreen.morescenarios.MoreScenarioResultPresenter"
		scope="session" />
	<bean name="moreScenarioView"		
		class="dhbw.ka.mwi.businesshorizon2.ui.resultscreen.morescenarios.MoreScenarioResultViewImpl"
		scope="session" />		
		
</beans>
